body {
    width: 100%;
    height: auto;
    font-family: 'Cairo', sans-serif;
    background-repeat: round;
    background-size: cover;
    margin: 0;
}

.container {
    width: 90%;
    margin-left: 70;
}

.header {
    background-image: url("/Applications/XAMPP/xamppfiles/htdocs/my_auction/my_auction/img/back.png");
    width: 100%;
    height: 190;
    background-repeat: round;
    background-size: contain;
}

.footer {
    width: 100%;
    height: 55;
    margin: 5;
    margin-left: 0;
    background-color: #b30000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.f_style {
    font-size: larger;
    font-style: italic;
    font-family: inherit;
    text-align: center;
    padding-top: 13;
    color: #482833;
}

.logo {
    margin-left: 40%;
    width: 300;
    height: 216;
}

.menu_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b30000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu_list li {
    float: right;
}

.menu_list li a {
    color:  #d1d1e0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.menu_list li a:hover {
   background-color: rgba(236, 234, 234, 0.41);
}

.products {
    width: 100%;
    height: auto;
    margin: auto;
}


/******************************************/

.list_product {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 0;
    padding-left: 45;
    background-color: rgba(255, 255, 255, 0.43);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list_product::after {
    content: "";
    background: url("/Applications/XAMPP/xamppfiles/htdocs/my_auction/my_auction/img/back.png");
    opacity: 0.2;
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.list_product li {
    float: left;
    background-color: white;
    margin-left: 40;
    margin-bottom: 20;
    margin-top: 20;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.list_product li .active {
    color: #5a4a44;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    height: 260;
}
 

.list_product li .active img {
    width: 200;
    height: 200;
}


p {
    font-size: 15px;
    margin: 0;
}

.price {
    font-size: 15;
    color: black;
    margin: 0;
}

.list_product li:hover {
    box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.56), 0 6px 9px 5px rgba(123, 122, 122, 0.19);
}
a.cart {
    text-decoration: none;
    float: right;
    margin: 0 16 10;
    color: #000000;
}
i.fa.fa-heart-o {
    color: #f31d1d;
    font-size: x-large;
    padding-top: 4;

}
.heart {
       margin: 20;
}
i.fa.fa-heart-o:hover{
      font-size: xx-large;
}
.cart:hover{
    color: #e41919;
    font-size: 16.5;
}
hr {
    color: rgba(241, 240, 240, 0.64);
}